.moviesCardList {
    width: 100%;
    margin: 70px auto 80px;
}

.moviesCardList__container {
    width: 1140px;
    margin: 0 auto 0;
}

.moviesCardList__cards {
    width: 100%;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(3, 364px);
    column-gap: 24px;
    row-gap: 30px;
    padding: 0;

}
.moviesCardList__notFound {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.moviesCardList__else {
  display: flex;
  justify-content: center;
}

.moviesCardList__button {
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.moviesCardList__button:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .moviesCardList {
        width: 90%;
    }

    .moviesCardList__container {
        width: 100%;
    }

    .moviesCardList__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .moviesCardList__button {
        width: 90%;
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 900px) {
    .moviesCardList__cards {
        grid-template-columns: repeat(2, 339px);
        column-gap: 30px;
        row-gap: 36px;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    .moviesCardList{
        width: 768px;
    }

    .moviesCardList__container {
        width: 708px;
    }

    .moviesCardList__button {
        width: 100%;
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .moviesCardList {
        width: 90%;
    }

    .moviesCardList__container {
        width: 100%;
    }

    .moviesCardList__cards {
        grid-template-columns: repeat(1, 339px);
    }

    .moviesCardList__button {
        width: 339px;
    }
}

@media screen and (max-width: 450px) {
    .moviesCardList{
        width: 300px;
    }

    .moviesCardList__cards {
        row-gap: 16px;
    }
}
