.navTab {
    width: 100%;
    background-color: #000;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTab__link {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    opacity: 1;
    transition: opacity .2s ease .1s;
    margin-right: 40px;
    cursor: pointer;
}

.navTab__link:last-of-type {
    margin-right: 0;
}

.navTab__link:hover {
    opacity: .7;
}

@media screen and (max-width: 450px) {
    .navTab__link {
        font-size: 11px;
        margin-right: 24px;
    }
}