.filterCheckbox {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 48px;
}

.filterCheckbox__container {
    position: relative;
    width: 36px;
    height: 20px;
}

.filterCheckbox__input {
    display: none;
}

.filterCheckbox__switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.filterCheckbox__switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.filterCheckbox-input:checked + .filterCheckbox__switch-slider {
    background-color: #2be080;
}

.filterCheckbox-input:checked + .filterCheckbox__switch-slider:before {
    background-color: #ffffff;
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.round {
    border-radius: 20px;
}

.round:before {
    border-radius: 50%;
}

.filterCheckbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

/*.filterCheckbox {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 14px;*/
/*    height: 48px;*/
/*}*/

/*.filterCheckbox__container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

/*.filterCheckbox__input {*/
/*    opacity: 0;*/
/*    width: 50px;*/
/*    cursor: pointer;*/
/*    z-index: 9;*/
/*}*/

/*.filterCheckbox__switch-slider {*/
/*    position: absolute;*/
/*    width: 36px;*/
/*    height: 20px;*/
/*    border-radius: 16px;*/
/*    box-shadow: 0 4px 4px rgba(50, 50, 71, 0.08), 0 4px 8px rgba(50, 50, 71, 0.06);*/
/*}*/

/*.filterCheckbox__switch-slider:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    background-color: #f5f5f5;*/
/*    left: 0;*/
/*    left: 5.56%;*/
/*    top: 10%;*/
/*    box-sizing: border-box;*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    border-radius: 50%;*/
/*    transition: all 0.3s;*/
/*}*/

/*.filterCheckbox-input:checked + .filterCheckbox__switch-slider:before {*/
/*    background-color: #2BE080;*/
/*    transform: translateX(15px);*/
/*}*/

/*.round {*/
/*    border-radius: 20px;*/
/*}*/

/*.round:before {*/
/*    border-radius: 50%;*/
/*}*/

/*.filterCheckbox__label {*/
/*    font-size: 13px;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*    margin: 0;*/
/*}*/

@media screen and (max-width: 900px) {
    .filterCheckbox {
        padding: 0;
        margin-bottom: 57px;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .filterCheckbox__label {
        font-size: 11px;
        line-height: 18px;
    }
}