.moviesCard {
    width: 364px;
    height: 271px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.moviesCard__container {
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moviesCard__info {
    margin: 14px 26px 14px 14px;
    width: 280px;
}

.moviesCard__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 9px;
}

.moviesCard__time {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
}

.moviesCard__like {
    background-color: #ffffff;
    border: none;
    background-image: url("../../../images/like-disabled.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin: 19px 14px 19px 0;
    padding: 0;
}

.moviesCard__like:hover {
    cursor: pointer;
}

.moviesCard__like-active {
    background-image: url("../../../images/like-active.svg");
}

.moviesCard__delete {
    background-image: url("../../../images/card-delete.svg");
}